:root {
    --main-bg-color: midnightblue;
    --secondary-bg-color: rgb(178, 191, 213);
    --main-font-color: white;
}

body {
    margin: 0 auto;
}

.navbar {
    background-color: var(--main-bg-color);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    color: var(--main-font-color);
}

#project-content {
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
    padding: 10px;
    height: 90vh;
}

.navbar-logo {
    font-weight: bold;
    font-size: 2rem;
}